<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About me</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <script src="{% static 'story7.js' %}"></script>
</head>
<body>
<h1 style="text-align: center;"> About Me</h1>
<div id="accordion" style="width: 50%; margin: auto;">
    <h3>Aktivitas Saat ini</h3>
    <div>
        <ul>
            <li>Ngoding</li>
            <li>Main game</li>
            <li>Kuliah</li>
        </ul>
    </div>
    <h3>Pengalaman organisasi/kepanitiaan</h3>
    <div>
        <ul>
            <li>Anggota Operational Compfest</li>
            <li>Sekolah BEM Fasilkom Depor</li>
        </ul>
    </div>
    <h3>Prestasi</h3>
    <div>
        <p>
            Untuk saat ini saya belum memiliki prestasi yang bisa dibanggakan :)
        </p>
    </div>
    <h3>Hobi</h3>
    <div>
        <ul>
            <li>Bermain game</li>
            <li>Ngoding</li>
        </ul>
    </div>
</div>
</body>
</html>